.contatos {
    background-color: #05031B;
    height: 50vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.listas {
    display: flex;
    height: 110px;
    justify-content: center;
gap: 30px;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}

.img-contatos {
    width: 20px;
    height: 20px;
}

.lista li {
    list-style: none;
    display: flex;
    gap: 5px;
    height: 22px;
    align-items: center;
    margin: 5px 0;
    justify-content: start;
}

p{
    font-size: small;
    max-width: 720px;
}